.board {
    float: left;
    cursor: pointer;
    background: no-repeat url("/assets/img/sample-image.jpg");
    &:hover {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
}

.hide {
    display: none;
}

#puzzleGame {
    #container {
        margin: 0 auto;
        border: none;
        background: no-repeat url("/assets/img/sample-image.jpg");
    }
}