// colors
$base-color: #232222;
$link-color: #5AA3E8;
$border-color:#ccc;
$white-color: white;

//font
$font-family: 'Strait', sans-serif;
$font-size: 19px; 
$font-small: 16px;

//dom
$mPadding: 18px;